 :root {
   --primary-color: #fff;
   --secondary-color: #f4a261;
   --accent1-color: #264653;
   --accent2-color: #e9c46a;

   --heading-font: "Georgia", serif;
   --body-font: "Arial", sans-serif;

 }

 header,
 footer {
   background-color: rgb(34, 34, 159);
   color: var(--accent2-color);
   margin-bottom: 0;
   padding-bottom: 0;
   justify-content: space-between;
   width: 80%;
   margin: 0px auto;

 }

 .grid {
   display: grid;
   grid-template-columns: auto 1fr;
   align-items: flex-end;

 }

 .logo {
   width: 150px;
   margin-left: 200px;

 }

 nav ul {
   list-style: disc;
   margin-top: 10px;
   margin-left: 20px;
   display: flex;
   justify-content: center;
   list-style: none;
   gap: 100px;
   padding: 0;
   align-items: center;
   margin: 0;
 }

 nav li {
   margin: 8px 0;
 }

 nav a {
   text-decoration: none;
   color: wheat;
 }

 .hero {
   width: 80%;
   margin: 20px auto;
   position: relative;
   margin-top: 0;
   padding-top: 0;
 }

 .hero img {
   width: 100%;
 }

 .hero h1 {
   position: absolute;
   top: 25px;
   width: 98%;
   text-align: center;
   background: rgba(0, 51, 153, .8);
   color: white;
   padding: 15px;
   font-size: 40px;
 }

 .hero article {
   position: relative;
   top: -200px;
   bottom: 20px;
   left: 20px;
   right: 20px;
   background: rgba(0, 51, 153, .7);
   color: white;
   padding: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   float: left;
 }

 .hero article p {
   width: 75%;
 }

 .hero article img {
   width: 180px;
   border: 3px solid white;
 }

 .history-content {
   display: flex;
   justify-content: space-between;
   gap: 20px;
   padding: 20px;
   align-items: center;
 }

 .history-content p {
   flex: 4;
   font-weight: bold;

 }

 .history-content img {
   width: 140px;
   height: auto;
 }

 .history,
 .adventure {
   width: 78%;
   margin: 30px auto;
 }

 .history,
 .adventure {
   background-color: #003399;
   color: white;
   padding: 20px;
 }

 .history h2 {
   background: #003399;
   color: white;
   text-align: center;
   padding: 20px;
   margin-bottom: 25px;
 }

 .history p {
   line-height: 1.6;
 }

 .adventure {
   margin-bottom: 20px;
   text-align: center;
 }

 .adventure-content {
   display: flex;
   align-items: center;
   justify-content: space-between;
   text-align: center;
   gap: 15px;

 }

 .adventure figure {
   text-align: center;
   margin: 0;
 }

 .adventure-content img {
   width: 180px;
   height: auto;
   object-fit: cover;
   display: flex;
 }

 .adventure figcaption {
   margin: 10px;
   color: white;
   font-weight: bold;
 }

 footer {
   width: 80%;
   margin: 40px auto;
   display: flex;
   justify-content: space-between;
   align-items: center;

 }

 .social {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
   gap: 15px;
 }

 .social img {
   width: 40px;
   margin-right: 120px;
   justify-content: space-evenly;
 }